/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/configure.lineno
/install-sh
/missing
/mm-common-*.tar.*
/doctags/libstdc++.tag
/doctags/mm-common-*.pc
/macros/mm-common.m4
/util/mm-common-prepare
