/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/configure.lineno
/install-sh
/missing
/mm-common-*.tar.*
/tags/libstdc++.tag
/tags/mm-common-*.pc
/util/mm-common-prepare
