# wildcard patterns
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
stamp-h?
*.[ao]
*.l[ao]

# ./
/INSTALL
/aclocal.m4
/autom4te.cache/
/config*.lineno
/config.log
/config.status
/configure
/skeletonmm-*.tar.*
/libtool

# codegen/
/codegen/extradefs/generate_extra_defs

# doc/
/doc/doc-install.pl
/doc/doc-postprocess.pl
/doc/doxygen.css
/doc/doxygen-extra.css
/doc/tagfile-to-devhelp2.xsl

